<p>
  <a routerLink="/attribute/form" class="btn btn-primary">New Attribute</a>
</p>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attr of filteredAttributes">
    <td>{{ attr.attrId }}</td>
    <td>{{ attr.attrName }}</td>
    <td>{{ attr.attrValue }}</td>
    <td>
<!--      <a [routerLink]="['/attribute/form/', a.attrId]">Edit</a>-->
    </td>
  </tr>
  </tbody>
</table>
