<div class="row">
  <div class="col-sm-3">
    <p>
      <a routerLink="/attribute/form/new" class="btn btn-primary">New Attribute</a>
    </p>
  </div>
  <div *ngIf="deletionMessage" class="offset-5 col-lg-4 text-center">
    <div class="alert alert-success box-msg" role="alert">
      <strong>Attribute successfully deleted!</strong>
      <img src="../assets/img/check.png" class="rounded mx-2" alt="">
    </div>
  </div>
</div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Value</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let attr of filteredAttributes">
    <td>{{ attr.attrId }}</td>
    <td>{{ attr.attrName }}</td>
    <td>{{ attr.attrValue }}</td>
    <td>
      <a class="btn-sm btn-primary" [routerLink]="['/attribute/form/', attr.attrId]">Edit</a>
    </td>
    <td>
      <button class="btn-sm btn-danger" (click)="delete(attr.attrId)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
