<div class="row mt-5">
  <div class="col text-center">
    <h5>Create/Update an Attribute</h5>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="this.save()">
  <div class="row mt-4">
    <div class="col-md-6">
      <div *ngIf="form.errors" class="alert alert-danger">
        Invalid submit. Please fill all the necessary inputs.
      </div>
      <input type="text" formControlName="attrId" hidden>
      <div class="form-floating mb-3">
        <input formControlName="attrName"
               type="text" class="form-control" id="attrName">
        <label for="attrName">Name</label>
        <div *ngIf="attrName.touched && attrName.invalid" class="alert alert-danger">
          <div *ngIf="attrName.errors.required">Attribute name is required.</div>
          <div *ngIf="attrName.errors.minlength">Attribute name should be at least 3 characters.</div>
          <div *ngIf="attrName.errors.maxlength">Attribute name should be at most 50 characters.</div>
          <div *ngIf="attrName.errors.alreadyExists">Attribute name already exists.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input formControlName="attrValue"
               type="text" class="form-control" id="attrValue">
        <label for="attrValue">Value</label>
        <div *ngIf="attrValue.touched && attrValue.invalid" class="alert alert-danger">
          <div *ngIf="attrValue.errors.required">Attribute value is required.</div>
          <div *ngIf="attrValue.errors.minlength">Attribute value should be at least 1 characters.</div>
          <div *ngIf="attrValue.errors.maxlength">Attribute value should be at most 50 characters.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mt-3 offset-1">
      <button class="btn btn-primary mx-auto" type="submit">Save</button>
      <button class="btn btn-outline-primary mx-4" type="reset">Clear</button>
    </div>
  </div>
</form>





