<div class="row mt-5">
  <div class="col text-center">
    <h5>Create/Update an Employee</h5>
  </div>
</div>

<form [formGroup]="form" (ngSubmit)="this.save()">
  <div class="row mt-4">
    <div class="col-md-6">
      <div *ngIf="form.errors" class="alert alert-danger">
        Invalid submit. Please fill all the necessary inputs.
      </div>
      <input type="text" formControlName="empId" hidden>
      <div class="form-floating mb-3">
        <input formControlName="empName"
               type="text" class="form-control" id="empName">
        <label for="empName">Name</label>
        <div *ngIf="empName.touched && empName.invalid" class="alert alert-danger">
          <div *ngIf="empName.errors.required">Employee name is required.</div>
          <div *ngIf="empName.errors.minlength">Employee name should be at least 3 characters.</div>
          <div *ngIf="empName.errors.maxlength">Employee name should be at most 50 characters.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input formControlName="empDateOfBirth"
               type="date" class="form-control" id="empDateOfBirth">
        <label for="empDateOfBirth">Date of Birth</label>
        <div *ngIf="empDateOfBirth.touched && empDateOfBirth.invalid" class="alert alert-danger">
          <div *ngIf="empDateOfBirth.errors.required">Date of Birth is required.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input formControlName="empSupervisor"
               type="number" class="form-control" id="empSupervisor">
        <label for="empSupervisor">Supervisor Id</label>
        <div *ngIf="empSupervisor.touched && empSupervisor.invalid" class="alert alert-danger">
          <div *ngIf="empSupervisor.errors.required">Supervisor Id is required.</div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-check mb-3">
        <div class="form-check form-switch">
          <input formControlName="empVehicle" class="form-check-input" type="checkbox" id="empVehicle">
          <label class="form-check-label" for="empVehicle">Has Vehicle</label>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      Address properties here
      <!--      <input type="text" formControlName="addrId" hidden>-->
      <!--      <input type="text" formControlName="addrLongitude" hidden>-->
      <!--      <input type="text" formControlName="addrLatitude" hidden>-->

      <!--      <input type="text" formControlName="addrCountry" hidden>-->
      <!--      <input type="text" formControlName="addrCity" hidden>-->
      <!--      <input type="text" formControlName="addrStreetName" hidden>-->
      <!--      <input type="text" formControlName="addrStreetNumber" hidden>-->
      <!--      <input type="text" formControlName="addrPostalCode" hidden>-->
    </div>
    <div class="col-md-6">
      and here
    </div>
  </div>
  <div class="row">
    <hr>
    <h5 class="">Select Attributes for this employee:</h5>
    <div formArrayName="attributesList" *ngFor="let attr of attributesList; let i = index" class="col-md-4 col-sm-6 col-12">
      <div [formGroupName]="i" class="form-check">
        <input formControlName="attrId" class="form-check-input" type="checkbox" [value]="attr.get('attrId').value"
               [id]="attr.get('attrId').value"
               [checked]="hasAttribute(attr.get('attrId').value)">
        <label class="form-check-label" [for]="attr.get('attrId').value">
          {{ attr.get('attrName').value }} ({{ attr.get('attrValue').value }})
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center my-3">
      <hr>
      <button class="btn btn-primary mx-auto" type="submit">Save</button>
      <button class="btn btn-outline-primary mx-4" type="button" (click)="resetForm()">Clear</button>
    </div>
  </div>
</form>





